<?xml version="1.0"?>
<package >
  <metadata>
    <id>{{{nugetPackageName}}}</id>
    <version>$version$</version>
    <authors>GasBuddy</authors>
    <owners>GasBuddy</owners>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>{{{projectName}}}</description>
    <releaseNotes></releaseNotes>
    <copyright>Copyright 2016</copyright>
    <dependencies>
    </dependencies>
  </metadata>
  <files>
	<file src="bin/debug/{{{projectName}}}.dll" target="lib\net40" />
  </files>
</package>
